<% provide(:title, 'Post') %>

<div class="row">
  <div class="col-sm-3 col-sm-offset-3">
	<h1>Create Post</h1>
    <%= form_for @article do |f| %>

      <%= f.label :picture, text: "Link to picture" %>
      <%= f.text_field :picture, class: "form-control" %>
      <%= label_tag "Brand" %>
      <%= text_field_tag :tags, "", class: "form-control" %>
      <%= label_tag "Size" %> 
      <%= f.collection_select :size, Article::SIZES, :to_s, :to_s, :include_blank => false class: "form-control"%>
      <%= label_tag "Descriptive Tags"%>
       <%= text_field_tag :tags, "", class: "form-control" %>
     
      <%= f.submit "Done", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
